.row {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0.5rem;
}


body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  /*background-color: #525252;*/
  color: #555555;
}


.carousel-item img {
  /*opacity: 0.5;*/
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.carousel-item h1 {
  color: white;
}

.carousel-item {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

.carousel .carousel-item .carousel-caption {
  text-shadow: #000 0.1em 0.1em 0.2em;
}


* {
  box-sizing: border-box;
}


/*the container must be positioned relative:*/

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}


/*when hovering an item:*/

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  /*color: white;*/
  display: none;
  padding: 50px 50px;
  /*height: 100%;*/
}

.h1 .capitalize {
  display: inline-block;
}



