/*.row {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.5rem;
}*/
/*.a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/

/*.nav-link .active {
    color: red;
  }
  */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    /*background-color: #525252;*/
    color: #555555;
}


/*--------------------------------------------Footer*/
/*
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;
}*/

.carousel-item img {
    /*opacity: 0.5;*/
    object-fit: cover;
    object-position: center;
    height: 40vh;
    overflow: hidden;
}

.carousel-item h1 {
    color:white;
 }

.carousel-item {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;   
}

.carousel .carousel-item .carousel-caption { text-shadow: #000 0.1em 0.1em 0.2em; }

.carousel-item:before {
 content: "";
 background-image: 
 linear-gradient(
    bottom, transparent,
     rgba(0,0,0,0.5)
     );
 display:block;
 position: absolute;
 top: 0;
 width: 100vw;
 height: 100vh;
}


